# Python Virtual Environment and Cache
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/

# Frontend dependencies and compiled output
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/.angular/cache/
frontend/coverage/

# System and IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
